<div class="card text-bg-light mb-3">
    <div class="card-header">Clients</div>
    <div class="card-body">
      <h5 class="card-title">Clients List</h5>
        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" type="button" 
                [routerLink]="['/clients/form']" routerLinkActive="router-link-active"
            >
                Create client
            </button>
        </div>
        <div *ngIf="clients?.length == 0"
            class="alert alert-info"
        >There is no entries in data base
        </div>
      <table class="table-bordered table-striped table"
        *ngIf="clients?.length>0"
      >
        <thead>
            <tr>
                <th>id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>email</th>
                <th>createdAt</th>
                <th>edit</th>
                <th>delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clients">
                <td>{{client.id}}</td>
                <td>{{client.firstName}}</td>
                <td>{{client.lastName}}</td>
                <td>{{client.email}}</td>
                <td>{{client.createdAt}}</td>
                <td>
                    <button type="button" name="edit"
                        [routerLink]="['/clients/form', client.id]" routerLinkActive="router-link-active" 
                        class="btn btn-primary"
                    >
                        edit
                    </button>
                </td>
                <td>
                    <button type="button" name="delete"
                        (click)="delete(client)"
                        class="btn btn-sm btn-danger"
                    >
                        delete
                    </button>
                </td>
            </tr>
        </tbody>
      </table>
  </div>
</div>